#popup_container {
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
}

#popup_title {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 2.75em;
	color: #666;
	cursor: default;
	padding: 0em;
	margin: 0em;
}

#popup_content {
	
}

#popup_content.alert {
	
}

#popup_content.confirm {
}

#popup_content.prompt {
}

#popup_message {

}

#popup_panel {

}

#popup_prompt {
	margin: .5em 0em;
}
