.h_o { background-color:#eaf9ff; }
.home {line-height:43px;color:#a5a5a5;}
.home{ background:url("http://s.maiyaole.com/images/wap/arrow.png") no-repeat 0 -16px; padding-left:10px; width:50px; height:43px;overflow:hidden; display:block;}
header h2 { margin:0; font-size:18px; color:#5e5e5e; font-weight:bold; line-height:43px; }
header .col-xs-10 { padding-right:78px;}
.user_items .row {padding:0 10px;line-height:1; }
.user_items ul { padding:0;}
.list-group-item:first-child { border-top-left-radius: 4px;  border-top-right-radius: 4px;}
.list-group-item {padding:10px;}
.list-group { margin-bottom:10px;}
.a_link, .a_badge {position:absolute;right:0;top:50%;margin-top:-6px; margin-right:10px; width:auto;height:14px;overflow:hidden; background:url(http://s.maiyaole.com/images/wap/l_a.png) no-repeat right 1px;padding-right:10px;}
.a_badge {margin-top:-9px;height:20px; background-position:right 4px;}
.y_badge { background-color:#ffaa00; font-size:13px; padding:3px;width:20px; text-align: center;}
.circle{background-color:#ffaa00; font-size:13px;width:17px;height:17px;border-radius:10px;text-align: center;color:#fff;line-height:19px; font-family:Arial;}
.info_box {margin:5px 0;}
.info_box .nav li {display:inline-block; line-height:2;}
.info_box .nav li:first-child {width:30px; text-align:center;}
.info_box .glyphicon-user { color:#0083ce;}
.ul_state { background-color:#f8f8f8; border:#e6e6e6 1px solid;height:70px;}
.ul_state li {display:inline-block; width:32%; text-align:center;}
.ul_state a { color:#5e5e5e; font-size:14px;line-height:1.5; display:block; width:100%; height:100%;}
.ul_state a b { background:url("http://s.maiyaole.com/images/wap/bg_user.png") no-repeat 0 -32px; background-size:34px auto; height:28px;width:34px;display:block; margin:0 auto; margin-top:10px;}
.ul_state li:first-child a b { background-position:0 0;width:25px;}
.ul_state li:last-child a b { background-position:0 -62px;width:25px;}
.ul_state li.us_slid{ width:1px; background-color:#e6e6e6; display:inline-block; height:40px; margin-left:-4px; }
.circle_user {background-color:#ffaa00; font-size:17px;border-radius:10px;text-align: center;color:#fff; padding:1px 7px; font-family:Arial; margin:0 5px; font-weight:normal;}
.img_list { width:140px; height:45px; overflow:hidden;}
.img_list img { width:40px; height:40px;}
.img_list li { list-style:none; display:inline-block; margin:0 5px 5px 0;}
.bag { margin-bottom:5px; display:block;}
.user_order .list-group li.bg_color { background-color:#f8f8f8; }
.table img { width:40px;height:40px; overflow:hidden;}
.table tr td:nth-child(2){ padding-left:5px; padding-right:5px; }
.table > tbody > tr > td.price { color:#e72419; font-weight:normal;}
.dark { color:#333;}
.user_order h4 { margin-bottom:5px; margin-left:10px;}
.kd_div p {margin-bottom:5px; margin-left:11px; }
.kd_info .fl { width:20%}
.kd_info .pull-right { width:75%;}
.sc_box .nav > li > a { padding:10px 32px;text-align:center;}
.sc_box .col-xs-6 {padding:10px;}
.col-xs-4 img,.col-xs-6 img { width:100%; }
.title {font-size:0.8em;line-height:1.2; margin:0 0 5px 0; }
.title a { color:#333;  }
.p_info b { color:#e72419; margin-right:10px;}
.p_info del { font-size:12px;}
.p_info {color:#a5a5a5;}
.list section.container { width:100%!important; padding:0;}
.user_add_cart {background:url("http://s.maiyaole.com/images/wap/sc.png") no-repeat 0 0;background-size:30px auto; width:30px;height:30px;vertical-align:middle; display:inline-block; float:right;}
article.row { border-bottom:#e6e6e6 1px solid;}
.sc_box .btn-default { padding:3px 6px; float:right; font-size:12px; font-weight:normal;}
.empty_header {background-color:#0083ce; height:43px; width:100%; position:relative;}
.empty_header .col-xs-8 { padding:0;}
.empty_header .col_blue { padding:0px;float:right; }
.empty_header .cart {background:url(http://s.maiyaole.com/images/wap/cart.png); background-size:32px auto; background-repeat:no-repeat; background-position:8px 8px;display:block;width:100%;height:43px;line-height:43px;color:#fff; background-color:#0093e7; font-size:12px; text-align:center;}
.empty_header .s_in{ margin:8px 0; border:1px solid #fff;width:210px; }
.empty_box { text-align: center; width:100%; color:#a5a5a5;}
.empty_box .empty_inner{ background:url("http://s.maiyaole.com/images/wap/e_myorder.png") no-repeat center top;background-size:50% auto; width:120px;height:70px; margin:20px auto;}
.cancel_order{padding-left:0;padding-right:0; float:left;}
.wuliu table img {margin-right:3px; margin-bottom:3px;}
.wuliu_bag { background-color:#ffaa00; border:#ffaa00 2px solid; border-radius:10px;color:#fff; padding:0 8px; }
.wuliu a.selected i,.p_item_on,.p_content .collapsed, .q_a i{ background-image:url(http://s.maiyaole.com/images/wap/s_b.png);}
.wuliu a.selected i { position:absolute;bottom:0;right:0;width:13px;height:13px;overflow:hidden;text-indent:-99em;display:block;background-repeat:no-repeat;background-position:right 3px;}
.p_item_on {width:15px;height:15px;overflow:hidden;text-indent:-99em;display:block;background-repeat:no-repeat;background-position:0 -14px;}
.wuliu .collapsed {background-position:0 -30px;}
.wuliu .table tr td:first-child{color:#a5a5a5;}
.wuliu .table tr td:last-child{color:#5e5e5e;}
.wuliu .table { border-top:#e6e6e6 1px solid; margin-top:10px;}
.wuliu { padding-top:10px;}
.g_b{ background:transparent url("http://s.maiyaole.com/images/wap/g.png");background-size:23px 23px; background-repeat:no-repeat; background-position:0 11px;width:24px;display:inline-block; }
.lg_h { height:43px; line-height:43px; font-weight:bold;}
.lg_h .col-lg-4,.lg_h .col-xs-4,.lg_h .col-sm-10 { padding: 0;}
.add_address .col-xs-5{ padding-left:0;}
.add_address .col-xs-7{ padding-right:0;}
.add_address .form-group { padding:0 10px;}
.tab4 > li {width:25%;}