<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	 http://www.springframework.org/schema/task
	  http://www.springframework.org/schema/task/spring-task-3.0.xsd"
       default-lazy-init="true">
    <bean class="com.farmer.fruit.job.qr.CreateQrJobService" id="createQrJobService"/>
    <task:scheduled-tasks>
        <task:scheduled ref="createQrJobService" method="execute" cron="0 0/5 * * * ?"/>
    </task:scheduled-tasks>
    <bean class="com.farmer.fruit.job.weixin.WeixinFreshAccessTokenService" id="wxAccessTokenService">
        <property name="jedisPool" ref="jedisPool"/>
    </bean>
    <task:scheduled-tasks>
        <task:scheduled ref="wxAccessTokenService" method="execute" cron="0 0/10 * * * ?"/>
    </task:scheduled-tasks>
</beans>