.cart-concern-btm-fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    text-align: center;
    width: 100%;
    height: 40px;
}

.four-column .concern-cart {
    width: 42%;
}

.four-column .action-list {
    width: 58%;
}

.concern-cart {
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
}

.concern-cart:before {
    position: absolute;
    content: '';
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #d2d2d2;
}

.concern-cart a, .action-list a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    float: left;
}

.concern-cart, .action-list {
    float: left;
}

.concern-cart a, .action-list a {
    width: 50%;
}

.concern-cart a {
    color: #d4d4d4;
    font-size: 10px;
}

em.btm-act-icn {
    width: 23px;
    height: 21px;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    margin-top: 5px;
    margin-bottom: 2px;
    background: url("../images/jd_cart_sprits_new.png?v=1") 0 0 no-repeat;
    position: relative;
}

.order-numbers {
    display: inline-block;
    position: absolute;
    top: -5px;
    background-color: #f23030;
    line-height: 10px;
    font-style: normal;
    border-radius: 8px;
    padding: 0 4px;
    font-size: 8px;
    color: #fff;
    right: -9px;
    border: 1px solid #fff;
}

.dong-dong-icn .btm-act-icn {
    background-position: -26px 0;
    background-size: 50px 50px;
    width: 19px;
}

.jimi-icn .btm-act-icn {
    background-position: -26px -21px;
    background-size: 50px 50px;
    width: 20px;
}

.cart-car-icn .btm-act-icn {
    background-position: 0 -21px;
    background-size: 50px 50px;
    width: 22px;
}

.concern-cart a span {
    display: block;
    line-height: 9px;
    height: 15px;
    text-align: center;
}

.action-list a {
    color: #fff;
    font-size: 15px;
}

.red-color {
    background-color: #f23030;
}

.yellow-color {
    background-color: #ffb03f;
}

.disabled {
    background-color: #bfbfbf !important;
}

.five-column .concern-cart {
    width: 47.5%;
}

.five-column .concern-cart a {
    width: 33.33%;
}

.five-column .action-list {
    width: 52.5%;
}

.focus-container {
    display: inline-block;
    width: 40px;
    text-align: center;
}

.focus-container .focus-icon {
    text-align: center;
    margin-bottom: 10px;
    height: 18px;
    position: relative;
}

.focus-out {
    background-position: -1px -3px;
}

.focus-on {
    background-position: -1px -25px;
}

.focus-info {
    color: #232326;
    font-size: 9px;
}

.bottom-focus-icon {
    background: url("../images/jd_focus-icon-new.png?v=1") no-repeat;
    background-size: 22px 44px;
    display: inline-block;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -11px;
}

.three-column .concern-cart {
    width: 62%;
}

.three-column .action-list {
    width: 38%;
}

.three-column .action-list a {
    width: 100%;
}

.three-column .action-list a:last-child {
    display: none;
}

.pop-floor {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    z-index: 8889;
}

.captchas-tip {
    border-radius: 10px;
    border: 1px solid #313131;
    background-color: #F8F8F8;
    padding: 19px 12px 16px;
    width: 272px;
    position: absolute;
    overflow: hidden;
    z-index: 8890;
    left: 50%;
    margin-left: -136px;
    box-sizing: border-box;
}

.tip-title {
    font-size: 17px;
    color: #4d4d4d;
    text-align: center;
    line-height: 20px;
}

.tip-coupon {
    display: block;
    text-align: center;
    height: 21px;
}

.tip-coupon-info {
    padding: 11px 0;
    font-size: 13px;
    color: #4d4d4d;
    line-height: 15px;
    height: auto;
}

.captchas-info {
    border-bottom: 1px solid #dcdcdc;
    box-shadow: 0 1px 1px #fff;
    -webkit-box-shadow: 0 1px 1px #fff;
    opacity: .8;
    overflow: hidden;
}

.captchas-input {
    font-size: 15px;
    padding: 13px 12px;
    border-radius: 5px;
    border: 1px solid #d7d7d7;
    width: 158px;
    height: 43px;
    outline: none;
    -webkit-appearance: none;
    box-sizing: border-box;
}

.captchas-img {
    width: 30%;
    float: right;
    height: 43px;
}

.tip-warn {
    color: #f15353;
    line-height: 20px;
    font-size: 13px;
    padding: 1px 0;
    min-height: 20px;
}

.captchas-btns {
    padding-top: 16px;
    overflow: hidden;
}

.tip-btn {
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    width: 117px;
    height: 40px;
    box-sizing: border-box;
    line-height: 38px;
}

.btn-cancel {
    background-color: #fff;
    color: #4d4d4d;
    border: 1px solid #b7b7b7;
    float: left;
}

.btn-ensure {
    background-color: #f25454;
    color: #fff;
    border: 1px solid #FC5858;
    float: right;
}

.btn-ensure:after {
    font-size: 0;
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '';
}

.get-captchas {
    text-decoration: none;
    border: 1px solid #000;
    color: #000;
}

.fix-one-page {
    position: relative;
    height: 100%;
}

.prod-promotion {
    padding-top: 15px;
    padding-bottom: 11px;
}

.prod-promotion-container {
    position: relative;
}

.prod-promotion-container .part-note-msg {
    position: absolute;
}

.promotion-content {
    margin: 0 35px 0 34px;
}

.promotion-item-suit {
    font-size: 13px;
    color: #848689;
    margin-top: 3px;
}

.promotion-item .promotion-icon {
    font-style: normal;
    background-color: #f15353;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    padding: 1px 4px;
    display: inline-block;
}

.promotion-item .promotion-item-text {
    font-size: 13px;
    color: #252525;
    line-height: 15px;
    vertical-align: top;
}

.promotion-item.promotion-info {
    font-size: 13px;
    line-height: 15px;
    color: #252525;
    vertical-align: top;
}

.promotion-item a {
    margin-left: 5px;
}

.promotion-up .promotion-icon {
    vertical-align: top;
    margin-top: 2px;
}

.promotion-up .label-icon-div {
    vertical-align: top;
    margin-top: 3px;
}

.promotion-up .promotion-item-text {
    display: inline-block;
    margin-right: -28px;
    line-height: 20px;
    width: 79%;
    vertical-align: top;
}

.promotion-up .promotion-suit-container {
    display: block;
}

.promotion-up .detail-import {
    display: block;
}

.promotion-up .icon-arrow-right-group {
    background-position: 5px -16px;
    top: 2px;
    right: -28px;
}

.promotion-up .icon-arrow-position {
    background-position: 3px -5px;
    top: 0;
}

.promotion-up .promotion-item-suit {
    display: inline-block;
    position: absolute;
    right: -12px;
    top: 0;
}

.promotion-up .jd-slider-item {
    display: inline-block;
}

.promotion-up .promotion-item {
    margin-bottom: 10px;
}

.promotion-item-text i {
    font-size: 13px;
    font-style: normal;
    color: #f23030;
}

.promotion-down .label-icon-div {
    vertical-align: top;
}

.promotion-down .promotion-info {
    display: none;
}

.promotion-down .promotion-content {
    max-height: 65px;
    overflow: hidden;
}

.promotion-down .promotion-item {
    margin-bottom: 8px;
    line-height: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.promotion-down .item-display-inline {
    display: inline-block;
    font-size: 0;
    margin-bottom: 0;
    line-height: 15px;
}

.promotion-down .promotion-item-link {
    display: none;
}

.promotion-down .icon-arrow-right {
    display: none;
}

.promotion-down .icon-arrow-position {
    background-position: 3px 6px;
    top: 0;
}

.promotion-down .promotion-item-suit {
    display: none;
}

.promotion-down .icon-arrow-right-group {
    display: none;
}

.promotion-item-link {
    display: none;
}

.promotion-suit-container {
    overflow: hidden;
    position: relative;
    margin-bottom: -8px;
    margin-top: 10px;
    margin-right: -30px;
    font-size: 0;
}
